.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart
android/.gradle/
android/local.properties
android/key.properties
*.jks
google-services.json
ios/Pods/
GoogleService-Info.plist
.DS_Store
.pub-cache/
